/*
-----------------------------
 all
-----------------------------
*/
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: initial;
}
body {
  background-color: #D9D9D9;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 3rem auto;
  padding: 3rem 1.5rem;
  background-color: aliceblue;
}
form {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: #00558F;
}
label {
  font-size: 18px;
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/*
-----------------------------
  util
-----------------------------
*/
/* background */
.bg-aliceblue {
  background-color: aliceblue;
}

.bg-blank {
  background-color: #D9D9D9;
}

.bg-seiran {
  background-color: #00558F;
}

/* buttons */

.button.is-primary {
  font-weight: bold;
  background-color: #00558F;
  color: aliceblue;
}
.button.is-link {
  background-color: aliceblue;
  color: #00558F;
}

/* alignment */
.flex-center {
  display: flex;
  justify-content: center;
}

/*
-----------------------------
  header
-----------------------------
*/

/* header-top */

#header-top .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-top .btn {
  margin: 0 1rem;
}

#header-service_logo img {
  height: 2.5rem;
}

#header-user_icon img {
  border-radius: 50%;
  object-fit: cover;
  height: 2.5rem;
}

/* header-nav */
#header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-nav .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  margin: 0 2rem;
}

.nav-item {
  height: 2rem;
  margin: 0 1rem;
}

.nav-item img {
  height: 2rem;
}

.nav-item span {
  color: aliceblue;
}

#header-search {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
