.searched-book__display {
  border-radius: 1rem;
  overflow: hidden;
}

.searched-book__favorite-display {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  border: none;
}
