body{
    background-color: #d9d9d9;
}
/* 共通のスタイル */
* {
    box-sizing: border-box;
    margin: 80%;
    padding: 80%;
  }
  
  /* 背景のスタイル */
  .back {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px auto;
    background-color: aliceblue;
  }
  
  /* 見出しのスタイル */
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* 入力欄のスタイル */
   input {
    width: 70%;
    font-size: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }
  textarea{
    width: 100%;
    font-size: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }
  
  /* テキストのスタイル */
  p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  /* 価格とカテゴリーのスタイル */
  .money{
    float: left;
  }
  .money, .category {
    align-items: center;
    justify-content: space-between;
  }
  .money input{
    width: 50%;
    font-size: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }
  
  /* カテゴリーのセレクトボックスのスタイル */
  select {
    width: 20%;
    font-size: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }
  
  /* ボタンのスタイル */
  .button {
    text-align: left;
    margin-top: 20px;
  }
  
  /* ボタンの入力欄のスタイル */
  .button input {
    width: 20%;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #00558F;
    cursor: pointer;
    float: left;
  }
  .text{
    font-size: 15px;
    padding-left: 10px;
    padding-top:  20px;
  }