.library-wrapper {
  margin: 2rem;
}

.library-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
  border-bottom: 10px solid gray;
}

.library-item {
  max-width: 25%;
  flex-basis: 25%;
  box-sizing: border-box;
}
