.image.is-256x256 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image.is-256x256 img {
  max-width: 40%; /* 画像の最大幅を親要素に合わせる */
  height: auto; /* アスペクト比を維持しつつ高さを自動調整 */
}

/* 「読む」ボタンのスタイル */
.button.read-button {
  background-color: #ffffff; /* ボタンの背景色を設定 */
  color: #ffffff; /* ボタンのテキスト色を設定 */
  margin-right: 20px; /* ボタンの右側に10pxのマージンを追加 */
}

/* ホバー時のスタイル（オプション） */
.button.read-button:hover {
  background-color: #ffffff; /* ホバー時の背景色を設定 */
  color: #ffffff; /* ホバー時のテキスト色を設定 */
}

/* ホームへボタンにも同様のマージンを追加 */
.button.home-button {
  margin-left: 20px; /* ボタンの左側に10pxのマージンを追加 */
}
