main {
  display: flex;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.book_thumbnail {
  width: auto;
  height: auto;
}

#button_read {
  width: 100%;
}

.title {
  margin: 10px;
  font-weight: bold;
  font-size: 30px;
}

.text {
  margin: 10px;
}

.day {
  margin: 20px;
}

p.toukou {
  text-align: right;
}

p.kousin {
  text-align: right;
}
