.left {
  width: 30%;
}

.right {
  width: 70%;
}

.book_thumbnail {
  width: auto;
  height: auto;
}

#button_read {
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.author-name {
  color: black;
  text-decoration: none;
}
