@charset "UTF-8";

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: aliceblue;
    padding: 1.5rem; /* 適切な余白を追加 */
    border-radius: 5%; /* 灰色の角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px; /* 必要に応じて調整 */
    min-height: 300px; /* 必要に応じて調整 */
}

input[type="text"] {
    width: calc(100% - 16px); /* テキストボックスを広げる */
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: calc(50% - 8px);
    padding: 8px;
    border: 1px solid #00008b;
    background-color: #00008b; /* 青色に塗りつぶす */
    color: #ffffff; /* テキストの色を白に設定 */
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center; /* テキストを中央に配置 */
    cursor: pointer; /* マウスカーソルを手の形に変更 */
    border-radius: 5px; /* 角を丸くする */
}

button[type="submit"]:hover {
    background-color: #00008b;
    color: #ffffff;
}

button[type="login"] {
    border: 1px solid #00008b;
    padding: 8px;
    background-color: transparent;
    color: #00008b;
    cursor: pointer;
    float: right; /* 右寄せにする */
    border-radius: 5px; /* 角を丸くする */
}

button[type="login"]:hover {
    background-color: #00008b;
    color: #ffffff;
}
